<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Главная</a> </li>
            <li><a href="/clothes">Одежда </a> </li>
            <li><a href="/shoes">Обувь</a> </li>
            <li><a href="/jackets">Куртки</a> </li>
        </ul>
    </nav>
</header>
{% block content%}
<h1>Это главная страница</h1>
{%endblock%}
<footer>
    <b>Здесь находится подвал!</b>
</footer>

</body>
</html>