<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Основная страница
        {% endblock %}

    </title>
</head>
<body>
<header>
    <ul>
        <li><a href="/">Главная страница</a></li>
        <li><a href="/name">Приветствие</a></li>
        <li><a href="/index">Кнопка</a></li>
        <li><a href="/pic">Изображение</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/textinput">Ввод текста</a></li>
        <li><a href="/ariphmetic">Арифметические операции</a></li>
        <li><a href="/age">Возраст</a></li>
        <li><a href="/square">Квадрат</a></li>

    </ul>
</header>
{% block context %}
Основная страница

{% endblock %}
</body>
</html>